[Unit]
Description=ASP.NET Core App

[Service]
Type=notify
WorkingDirectory=/var/www/geminiweb/
ExecStart=/var/www/geminiweb/GeminiSearchWebApp
Restart=always
User=root
Environment=ASPNETCORE_ENVIRONMENT=Development

[Install]
WantedBy=multi-user.target
