@{

    ViewBag.title = "Login";
}
<head>
    <title>Login Page</title>
    <script src="~/CustomJS/jquery.js"></script>
    <link href="~/CustomCSS/jquery-ui.css" rel="stylesheet" />
    <script src="~/CustomJS/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var aLoginId;
        var aPwd;
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                if (document.getElementById("login_id").value.length == 0 && document.getElementById("pwd").value.length == 0) {
                    alert('@ViewBag.emptyCredentials');
                }
                else if (document.getElementById("login_id").value.length == 0) {
                    alert('@ViewBag.emptyLogin');
                }
                else if (document.getElementById("pwd").value.length == 0) {
                    alert('@ViewBag.emptyPwd');
                }
                else {
                    $("#errorMsg").html("");
                    document.getElementById("loading").innerHTML = "Loading...";
                    $("#btnLogin").attr("disabled", true);
                    aLoginId = $("#login_id").val();
                    aPwd = $("#pwd").val();
                    var statusResult = false;
                    $.ajax(
                        {
                            type: "POST",
                            url: "/Home/ValidateLogin",
                            dataType: "JSON",
                            data: { userName: aLoginId, password: aPwd },
                            success: function (result) {
                                if (result != null) {
                                    statusResult = true;
                                    $.ajax(
                                        {
                                            type: "POST",
                                            url: "/Home/LoginCheck",
                                            dataType: "JSON",
                                            data: { loginStatus: statusResult },
                                            success: function (result) {
                                            },
                                            error: function () {
                                                writeLogFileFromView("Error from LoginStatus");
                                            }
                                        });
                                    window.location.href = "/Home/SearchCases/?name=" + result;
                                }
                                else {
                                    document.getElementById("loading").innerHTML = " ";
                                    $("#btnLogin").attr("disabled", false);
                                    $("#errorMsg").html("You are not authorized to view this page");
                                }
                            },
                            error: function () {
                                writeLogFileFromView("Error from Login");
                            }
                        });
                }

            });
            function writeLogFileFromView(exFromView) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Home/ExceptionMessageFromView",
                        dataType: "JSON",
                        data: { exView: exFromView },
                        success: function (result) {
                            if (result == "success") {
                                console.log("success from View")
                            }
                            else {
                                console.log("error")
                            }
                        },
                        error: function () {
                            console.log("error from View");
                        }
                    });
            }
        });
    </script>
    <style>
        html, body {
            width: 100%;
        }

        label {
            color: red;
            font-family: 'Times New Roman';
            font-style: normal;
            font-weight: bold;
        }

        table {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: aliceblue;
            font-size: 20px;
            font-family: 'Times New Roman';
            font-style: normal;
            font-weight: bold;
            text-align: center;
        }

        td {
            padding: 20px;
        }

        .textBoxInput {
            height: 40px;
            width: 300px;
            outline: thick;
        }
        #loading {
            font-family: 'Times New Roman';
            font-style: normal;
            font-weight: bolder;
            text-align: center;
        }

        #btnLogin {
            padding: 0px 20px 0px 20px;
            font-size: 18px;
            font-weight: bold;
            margin: 10px 10px 10px 10px;
            width: 150px;
        }

            #btnLogin:hover {
                background-color: lightskyblue;
            }
            #btnLogin:disabled {
                background-color: lightskyblue;
            }

    </style>
</head>
<body>
    <div style="vertical-align:middle;">
        <table style="align-content: center; border: 1px solid black; border-width: thick;">
            <tr>
                <td align="left" style="padding-right:20px;">Username:</td>
                <td><input id="login_id" type="text" class="textBoxInput" placeholder="Enter Login ID" /></td>
            </tr>
            <tr>
                <td align="left" style="padding-right: 20px; padding-top: 0px;">Password:</td>
                <td style="padding-top:0px;">
                    <input id="pwd" type="password" class="textBoxInput" placeholder="Enter Password" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding-top:0px;">
                    <button id="btnLogin" name="btnLogin" type="submit">Sign In</button>
                </td>
            </tr>
            <tr style="line-height:0px">
                <td colspan="2" style="padding-top:0px;">
                    <span id="loading"></span>
                    <label id="errorMsg" />
                </td>
            </tr>
        </table>
        <span id="loading"></span>
    </div>
</body>