@using System.Text.Encodings.Web;
@inject JavaScriptEncoder encoder;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeminiArchive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/CustomJS/jquery.js"></script>
    <script src="~/CustomJS/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {           
            var urlParams = new URLSearchParams(window.location.search);
            var userName = urlParams.get('name');
            $.post("@Url.Action("GetStringFromBase64", "Home")", { inputVal: userName }, function (data) {
                $("#lblLoggedInUser").html("Hello, " + data);                              
            });
        });
    </script>

    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 py-0">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">GeminiArchive</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <p id="lblLoggedInUser" class="nav navbar-text" title="Hello"></p>
                    <a class="nav-link text-dark" href="/Home/LogOut" style="float:right">LogOut</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GeminiArchive - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
